doctype html
html(land="en")
    head
        title Knowledgebase
        link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
    body
        .container
            block content 
            br
            hr
            footer
                p Copyright &copy; 2019